/* RESET CSS */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* REGOLE HEADER */

header {
    background-color: white;

}
.nav-bar {
    display: flex;
    justify-content: space-between;
    padding: 10px 10px 10px 10px;
}


.links-header-sx {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 45px

}
.links-header-dx {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 45px;
}

.links-list-header{
    display: flex;
    justify-content: center;
    list-style: none;
    gap: 25px;
}



/* TEMPORARY DEBUG */



/*ul{
    display: flex;
    justify-content: center;
    list-style: none;
    gap: 25px;
}*/

.btn-blue{
    background-color: blue;
    color: white;
    padding: 10px 10px 10px 10px;
}

.btn-white{
    border: 2px solid darkgray;
    padding: 10px 10px 10px 10px;
}

.hero-section {
    background-color: cyan;
    display: flex;
    justify-content: center;
}
.jumbotron{
    max-width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.hero-title{
    text-align: center;
    margin: 15px;
    max-width: 45%;
}

.hero-box{
    display: flex;
    align-items: center;
}
.hero-txt{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 45px
}

img{
    max-width: 100%;   
}