/* RESET CSS */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* REGOLE HEADER */

header {
    background-color: white;

}
.nav-bar {
    display: flex;
    justify-content: space-between;
    padding: 10px 10px 10px 10px;
}


.links-header-sx {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 45px;
    

}
.links-header-dx {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 45px;
}

.links-list-header{
    display: flex;
    justify-content: center;
    list-style: none;
    gap: 25px;
        
}

/* REGOLE HERO */

.hero-section {
    background-color: cyan;
    display: flex;
    justify-content: center;
}
.jumbotron{
    max-width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.hero-title{
    text-align: center;
    margin: 15px;
}

.hero-box{
    display: flex;
    align-items: center;
}


/* TEMPORARY DEBUG */

.btn-blue{
    background-color: blue;
    color: white;
    padding: 10px 10px 10px 10px;
}

.btn-white{
    border: 1px solid darkgray;
    padding: 10px 10px 10px 10px;
}

img{
    max-width: 100%;   
}

.abbonamento-section{
    max-width: 80%;
    border: 2px solid violet;
    margin: 0 auto;   
}

.row-flex-abbonamento{
    display: flex;
    gap: 20px;
    border: 2px solid red;

}

.card-plan{
    border: 2px solid black;
    width: calc(100% / 3 - (40px / 3));
    
}


.card-topper{
    border: 1px solid black;
    
}