/* RESET CSS */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* TEMPORARY DEBUG */
header {
    background-color: white;

}
.nav-bar {
    display: flex;
    justify-content: space-between;
}


.links-header-sx {
    display: flex;
    justify-content: flex-start;
    gap: 45px

}
.links-header-dx {
    display: flex;
    justify-content: flex-end;
    gap: 45px;
}
ul{
    display: flex;
    justify-content: center;
    list-style: none;
    gap: 25px;
}

.btn-start-header{
    background-color: blue;
    color: white;
    width: 50px;
    height: 25px;
}
.jumbotron{
    background-color: cyan;
}